/node_modules/*

/e2e
/e2e/*
/typings
/typings/*

karma.conf.js
karma-test-shim.js
npm-debug.log
protractor.config.js
tsconfig.json
tslint.json
typings.json
wallaby.js

/src/images/*
/src/app/*.js
/src/app/*.map
/src/app/**/*.js
/src/app/**/*.map