<div id='sliderComponent' 
    class='glAltLightBgColor'
    (wheel)='scrollX($event)'
    (mousedown)='mouseDown($event)'
    (mouseup)='mouseUp($event)'    
    (mousemove)='mouseMove($event)'>
	<button (click)='yPlus()' id='yPlus' class='slideButton glClickableCursor' draggable='false'>
		<img id='drilldownPointer' src='/icons-logos/panel.ico'>
	</button>
	<button (click)='yMinus()' id='yMinus' class='slideButton glClickableCursor' draggable='false'>
		<img id='drilldownPointer' src='/icons-logos/panel.ico'>
	</button> 
	<button (click)='xPlus()' id='xPlus' class='slideButton glClickableCursor' draggable='false'>
		<img id='drilldownPointer' src='/icons-logos/panel.ico'>
	</button>
	<button (click)='xMinus()' id='xMinus' class='slideButton glClickableCursor' draggable='false'>
		<img id='drilldownPointer' src='/icons-logos/panel.ico'>
	</button>
	<div *ngFor="let point of viewList" class='slideObject' draggable='false' 
	                                    style.left='{{point.xView}}%' 
	                                    style.top='{{point.yView}}%'	                            		
										style.height='{{point.imageWidth}}%'>		
		<img src='/images/{{point.item.mainImage}}' class='slideImage glClickableCursor' draggable='false' (click)=routeItem(point.item)>	
		<div class='discountDiv' style.font-size='{{0.5*point.scale}}vw'>
			-{{point.item.discount}}%
		</div>
		<div class='priceDiv' style.font-size='{{0.5*point.scale}}vw'>			
			{{point.item.discountPrice.toFixed(2)}}$
			<del>({{point.item.price.toFixed(2)}}$)</del>
		</div>
	</div>
</div>