.categoryItem {
	width: 100%;
	position: relative;
	z-index: 50;
}
.categorySubmenu {
	width: 100%;
	top: 0%;
	left: 100%;
	position: absolute;
	display: none;
}
.categoryItem:hover>.categorySubmenu {
	display: initial;
}
.categoryLink {
	padding: 3%;
	font-size: 100%;
}
.subMenuMarker {
	display: inline;
	float: right;
}
.categoryUnClickable {
	cursor: zoom-in;
}
.submenuBottom {
	border: 1px dashed rgb( 200, 200, 200 );
	display: none;
}
@media only screen and (max-width: 20cm) {
	.categorySubmenu {
		position: initial;
	}	
	.submenuBottom {
		display: block;
	}	
}	