#mainBlock {
	width: 100%;	
	height: 96%;	
	padding: 0;
	margin: 0;
}
#header {
	height: 1.2cm;
	padding: 0;
	margin: 0;	
	color: black;	
}
#prefix {
	width: 5cm;
	height: 100%;
	float: left;
}
#logoImage {
	width: 100%;
	height: 100%;
	padding: 2px;
	border: 1px solid black;
}
#headerLine {
	width: 100%;
}
#filterToggle {
	width: 10%;
	max-width: 1cm;
	height: 1cm;
	text-align: center;
	font-weight: bold;
	display: none;
}
#searchButtonSmall {
	width: 10%;
	max-width: 1cm;
	height: 1cm;
	text-align: center;
	font-weight: bold;
	display: none;
}
#searchBarWrapper {
	width: 50%;
	max-width: 10cm;	
	height: 100%;
	/*border: 1px solid black;*/
	position: relative;
}
#searchBarWrapper input {
	padding: 2px;
}	
#searchBar {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	display: table-cell;
    text-align: center;
    vertical-align: middle;
    line-height: 1.2cm;
}
#shoppingCartDiv {
	height: 100%;
	text-align: right;
}
#shoppingCartDiv img {
	max-width: 1.3cm;
	height: 1.3cm;		
}
#shoppingCartDiv span {
	vertical-align: top;
	line-height: 1.3cm;
}
#content{
	height: 95%;
	position: relative;
}
#filterDiv{
	max-width: 5cm;
	width: 100%;
}
#imageDiv{
	width: 10cm;
}
#verticalImage {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
#outlet {	
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: rgb( 250, 255, 250 );
}
@media only screen and (max-width: 32cm) {
	#imageDiv{	
		display: none;
	}	
}
@media only screen and (max-width: 20cm) {
	#header span {
		display: none;
	}
	#searchBarWrapper input {	
		width: 100%;
		height: 99%;		
	}	
	#searchButton {
		display: none;
	}
	#searchButtonSmall {
		display: initial;
	}
	#header {
		height: 1cm;	
	}
	#searchBar {
		line-height: 100%;
	}
	#shoppingCartDiv {
		width: 10%;
		max-width: 1cm;
	}
	#shoppingCartDiv img {
		width: 100%;
		max-width: 1cm;
		height: 1cm;		
	}	
}	
@media only screen and (max-width: 15cm) {
	#prefix {
		display: none;
	}	
	#header span {
		border-bottom: 1px solid border: 1px solid rgb( 100, 100, 100 );
	}	
	#searchBarWrapper {
		width: 70%;
	}
	#filterToggle {
		display: initial;
	}	
	#filterDiv {
		position: absolute;
		top: 0%;
		left: 0%;
		z-index: 51;
	}	
}	
@media only screen and (max-width: 8cm) {
	#header {
		height: 0.7cm;	
	}
	#shoppingCartDiv img {
		width: 100%;
		max-width: 0.7cm;
		height: 0.7cm;		
	}
	#searchButtonSmall {
		max-width: 0.7cm;
	}	
	#filterToggle {
		max-width: 0.7cm;
	}	
}	
.maxHeightDiv {
	height: 100%;
}
:host /deep/ .glClickableCursor {
	cursor: pointer;
}
:host /deep/ .glSmallBrRadius {
	border-radius: 0.1cm;
}
:host /deep/ .glMediumBrRadius {
	border-radius: 0.5cm;
}
:host /deep/ .glBigBrRadius {
	border-radius: 1cm;
}
:host /deep/ .glRightFloat{
	float: right;
}
:host /deep/ .glLeftFloat{
	float: left;
}
:host /deep/ .glLightBgColor{
	background-color: #FEF9E7;
}
:host /deep/ .glMediumBgColor{
	background-color: #FAE5D3;
}
:host /deep/ .glDarkBgColor{
	background-color: #E59866;
}
:host /deep/ .glAltLightBgColor{
	background-color: #D1F2EB;
}
:host /deep/ .glAltMediumBgColor{
	background-color: #76D7C4;
}
:host /deep/ .glAltDarkBgColor{
	background-color: #58D68D;
}
:host /deep/ .glColorHover:hover {
	background-color: #76D7C4;
}
:host /deep/ .glColorSelected {
	background-color: #76D7C4;
}
