<div id='mainBlock'>
	<div id='header' class='glMediumBgColor'>	
		<div id='prefix' class='glMediumBgColor glSmallBrRadius'>
			<img id='logoImage' class='glSmallBrRadius' src='app/demo_logo.jpg'>
		</div>
		
			<div id='filterToggle' class='glLeftFloat glMediumBgColor glClickableCursor glColorHover glSmallBrRadius' (click)='toggelFilter()'>
				<img  src='app/menu.png'>
			</div>
			<div id='searchBarWrapper' class='glLeftFloat'>
				<div id='searchBar' class=''>
					<span>Looking for:</span> <input type='text' [(ngModel)]='nameMask' placeholder='input search term...'>
					<button id='searchButton' (click)='searchByName()'>search...</button>		
				</div>	
			</div>	
			<div id='searchButtonSmall' class='glLeftFloat glMediumBgColor glClickableCursor glColorHover glSmallBrRadius' (click)='searchByName()'>
				<img src='app/search.png'>
			</div>
			<div id='shoppingCartDiv' class='glRightFloat'>
				<a routerLink='/shopping-cart'>
					<span *ngIf='eventValue>0'>{{eventValue.toFixed(2)}}$</span>
					<img  *ngIf='eventValue==0' class='glColorHover glSmallBrRadius' src='app/empty-cart.png'>
					<img  *ngIf='eventValue>0' class='glColorHover glSmallBrRadius' src='app/cart.png'>
				</a>	
			</div>
	</div>
	<div id='content'>
		<div id='filterDiv' class='maxHeightDiv glLeftFloat' *ngIf='showFilter'>
			<filter></filter>			
			<!-- (filterValueChangeEvent)='onFilterChange($event)'			 -->
		</div>	
		<div id='imageDiv' class='maxHeightDiv glRightFloat'>
			<img id='verticalImage' class='glSmallBrRadius' src='app/vertical.jpg'>
		</div>	
	    <div id='outlet'>
	    	<router-outlet></router-outlet>
	    </div>
	</div>
</div>