#item {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	color: black;
	padding: 2%;
	overflow-y: auto;
}
#imageContainer {
	width: 50%;
	height: 100%;
	float: left;
}
#imageDiv{
	width: 100%;
	padding-top: 100%;
	clear: left;
	position: relative;
}
#mainImage {	
	width: 100%;
	max-height: 100%;
	border-radius: 5%;	
	position: absolute;
	top: 0%;
	left: 0%;
}
#imageList {	
	width: 100%;
	height: 20%;	
	margin-top: 2%;	
	overflow-x: hidden;	
	overflow-y: auto;	
}
.smallImage {	
	height: 100%;	
	padding: 2%;
	border-radius: 15%;
	float: left;
	display: inline-block;
	opacity: 0.9;
}
.smallImage:hover {
	opacity: 1;
}	
#itemData {	
	width: 50%;
	height: 100%;
	float: left;
	padding-left: 2%;
}
@media only screen and (max-width: 10cm) {
	#item {
		overflow-y: auto;
	}
	#imageContainer {
		width: 100%;
		height: 100%;
	}	
	#itemData {	
		width: 100%;
		height: 100%;
	}	
}	
#buyBlock {
	border-radius: 10px;
}
#itemName, #itemPrice {
	text-align: center;
	font-size: 150%; 
}
#buyButton {
	width: 23%;
	margin: 5% 38.5% 5% 38.5%;
	font-size: 2vw;
	position: relative;
	text-align: left;
}
#buyButton div {
	top: 0%;
	right: 0%;	
	height: 100%;
	position: absolute;
}	
#buyButton img{
	right: 0%;
	height: 100%;
	position: absolute;
}	
.navButton {
	width: 46%;
	margin: 1%;
	font-size: 150%;
}
#itemCategory {
	padding: 3px;
	margin-bottom: 2%;
	font-size: 200%;
	border-radius: 10px;
	border: 1px solid grey;
}
#itemCategory:hover {
	border: 1px solid black;
}
#itemPropertyList {
	border-radius: 10px;
	border: 1px solid grey;
}
#itemPropertyList table, tr {
	width: 100%;	
}
#itemPropertyList table {
	width: 100%;	
	overflow-y: scroll;
}
#itemPropertyList td {
	padding: 3%;
	font-size: 150%;	
}