#item {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	color: black;
	padding: 2%;
}
#imageContainer {
	width: 50%;
	height: 100%;
	float: left;
}
#imageDiv{
	width: 100%;
	height: 78%;
	clear: left;
}
#mainImage {	
	width: 100%;
	max-height: 100%;
	border-radius: 5%;
}
#imageList {	
	width: 100%;
	height: 20%;	
	margin-top: 2%;	
	overflow-x: hidden;	
	overflow-y: auto;	
}
.smallImage {	
	height: 100%;	
	padding: 2%;
	border-radius: 15%;
	float: left;
	display: inline-block;
	opacity: 0.9;
}
.smallImage:hover {
	opacity: 1;
}	
#itemData {	
	width: 50%;
	height: 100%;
	float: left;
	padding-left: 2%;
}
#buyBlock {
	border-radius: 10px;
}
#itemName, #itemPrice {
	text-align: center;
	font-size: 3vw; 
}
#buyButton {	
	width: 50%;
	margin: 5% 25% 5% 25%;
	font-size: 2vw;
}
.navButton {
	width: 46%;
	margin: 1%;
	font-size: 150%;
}
#itemCategory {
	padding: 3px;
	margin-bottom: 2%;
	font-size: 2vw;
	border-radius: 10px;
	border: 1px solid grey;
}
#itemCategory:hover {
	border: 1px solid black;
}
#itemPropertyList {
	border-radius: 10px;
	border: 1px solid grey;
}
#itemPropertyList table, tr {
	width: 100%;	
}
#itemPropertyList td {
	padding: 3%;
	font-size: 1.5vw;	
}