<div id='itemContainer'>

	<div id='panelContainer'>
		<img id='drilldownPointer' src='app/panel.ico'>
		<div id='panel' class='glAltLightBgColor'>
			<div class='option glClickableCursor glSmallBrRadius' 
				 [ngClass]="{'glColorSelected':sortedByNameAsc}"
			     (click)='sortByNameAsc()'>Name ⇧
			</div>
			<div class='option glClickableCursor glSmallBrRadius' 
			     [ngClass]="{'glColorSelected':sortedByNameDes}"
			     (click)='sortByNameDes()'>Name ⇩
			</div>
			<div class='option glClickableCursor glSmallBrRadius' 
				 [ngClass]="{'glColorSelected':sortedByPriceAsc}"
			     (click)='sortByPriceAsc()'>Price ⇧
			</div>
			<div class='option glClickableCursor glSmallBrRadius' 
			     [ngClass]="{'glColorSelected':sortedByPriceDes}"
			     (click)='sortByPriceDes()'>Price ⇩
			</div>
			<ng-container *ngIf='showListOption'>
				<div class='option locRightFloat glClickableCursor glSmallBrRadius' 
				     [ngClass]="{'glColorSelected':shownAsList}"
				     (click)='showAsList(true)'><img src='app/menu.png' class='iconImage'>
				</div>
				<div class='option locRightFloat glClickableCursor glSmallBrRadius' 
					 [ngClass]="{'glColorSelected':!shownAsList}"
				     (click)='showAsList(false)'><img src='app/layout.png' class='iconImage'>
			    </div>
				<div class='option locRightFloat glClickableCursor glSmallBrRadius'>
					<label>Item on page: </label>
					<select value={{itemPerPage}} #itemPrePageSelect (change)=changeItemsPerPage($event.target.value)>
						<option value=25>25</option>
						<option value=50>50</option>
						<option value=100>100</option>
						<option value=0>all</option>
					</select>
				</div>
			</ng-container>
		</div>
		<div class='pages' *ngIf='pages.length>0'>
			<div class='glClickableCursor pageNumber glAltLightBgColor glSmallBrRadius glColorHover'
			     (click)='setCurrentPage(0)'>
			     &laquo;
			</div>
			<div  *ngFor='let page of pages'		    
			    [ngClass]="{'pageNumber': true, 'glClickableCursor': true, 'glColorHover': true, 'glSmallBrRadius': true, 'glColorSelected': page==currentPage, 'glAltLightBgColor': page!=currentPage}"
			    (click)='setCurrentPage(page)'>
				{{page+1}} 
			</div>
			<div class='glClickableCursor pageNumber glAltLightBgColor glSmallBrRadius glColorHover'
			     (click)='setCurrentPage(pages.length-1)'>
			     &raquo;
			</div>		
		</div>
	</div>
	<div id='itemList' *ngIf='shownAsList'>
		<div *ngFor="let item of itemList| slice:firstElemntInc:lastElemntExc" class='itemLine glSmallBrRadius'>
			<div class='itemLineWrapper'>
				<div class='itemLineImageDiv glSmallBrRadius'>	
					<img src='{{imagePath}}{{item.mainImage}}' class='lineImage glClickableCursor glSmallBrRadius' (click)=showItemDetail(item)>
					<img src='{{imagePath}}{{item.mainImage}}' class='lineImageBig glClickableCursor glSmallBrRadius' (click)=showItemDetail(item)>
				</div>	
				<div class='itemLineNameDiv'>	
					<div class='itemLineNameWrapper'>
						{{item.name}}							
					</div>
				</div>
				<div class='itemLinePriceDiv'>
					<div class='itemLinePriceWrapper'>
						{{item.discountPrice.toFixed(2)}}$
						<ng-container *ngIf='item.discount>0'>
							<del>({{item.price.toFixed(2)}}$)</del>
						</ng-container>
					</div>
					<div class='itemLineButtonWrapper'>						
						<button (click)=addItemToShoppingCart(item) class='glClickableCursor glSmallBrRadius'>buy
							<div>
								<img src='app/buy-cart.png' class='iconImage'>
							</div>	
						</button>					
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id='itemTable' *ngIf='!shownAsList'>
		<div *ngFor="let item of itemList| slice:firstElemntInc:lastElemntExc" class='itemTileWrapper'>
			<div class='itemTile glSmallBrRadius'>
				<div class='tileImageBlock'>
					<img src='{{imagePath}}{{item.mainImage}}' class='blockImage glClickableCursor'(click)=showItemDetail(item)>
				</div>	
				<div class='tileDescriptionBlock glLeftFloat'>
					<div class='tileNameBlock'>
						{{item.name}}
					</div>
					<div class='tileBottomBlock'>
						<span>{{item.discountPrice.toFixed(2)}}$</span>
						<ng-container *ngIf='item.discount>0'>
							<del>({{item.price.toFixed(2)}}$)</del>
						</ng-container>
					</div>	
				</div>
				<button (click)=addItemToShoppingCart(item) class='glRightFloat tileButton glClickableCursor glSmallBrRadius'>
					<div>
						<img src='app/buy-cart.png'>
					</div>
				</button>
			</div>
		</div>
	</div>	
</div>