<div id='orderFormDiv' class='font glSmallBrRadius glAltLightBgColor'>
	<div id='personal'>
		<form id='orderForm' (ngSubmit)='postOrder()'>
			<div class='field'>
				Personal data:
			</div>		
			<div class='field'>
				First name:<sup>*</sup>
				<input [(ngModel)]='firstName' placeholder='First name'  required class='font' name='fisrtNameElement'>
			</div>	
			<div class='field'>	
				Second name:
				<input [(ngModel)]='secondName' placeholder='Second name' class='font' name='secondNameElement'>
			</div>	
			<div class='field'>	
				e-mail:<sup>*</sup>
				<input [(ngModel)]='email' #emalInputField placeholder='e-mail' type='email' required class='font'  name='emailtNameElement'>
			</div>	
			<div class='field'>	
				Phone number:<sup>*</sup>
				<input [(ngModel)]='phoneNumber' placeholder='phone number' required class='font'  name='phoneNameElement'>
				<br>
			</div>	
			<div class='field'>	
				Comment:
				<textarea id='commentInput' [(ngModel)]='comment' placeholder='any comments...' class='font' name='commentElement'>
				</textarea>
			</div>	
		</form>			
	</div>
	<div id='details'>
		<div class='field'>
			Payment data:
		</div>
		<div class='field'>
			Payment type:
			<select value='Cash' class='font glSmallBrRadius' [(ngModel)]='paymnetType'>
				<option value='Cash'>Cash
				<option value='Card'>Card
				<option value='Bitcoin'>Bitcoin
			</select>
		</div>		
		<table id='carriers' class='glSmallBrRadius'>
			<tr *ngFor='let carrier of carriers'>
				<td>
					<input type='radio' name='carrierType'  class='font glSmallBrRadius'
					       value='carrier.id' [checked]='carrier.id===selectedCarrier.id' (click)='selectCarrier(carrier)'>
				</td>
				<td>
					{{carrier.name}}		
				</td>	
				<td>
					{{carrier.cost}}$
				</td>
			</tr>	
		</table>		
		<br>
		<table>
			<tr>
				<td>Total:</td>
				<td>{{total.toFixed(2)}}$</td>
			</tr>
			<tr>
				<td>Total with shipment:</td>
				<td>{{totalPlusShipment.toFixed(2)}}$</td>
			</tr>
		</table>
	</div>
	<div id='buttons'>
		<table>
			<tr>
				<td>
					<button class='' (click)='goBack()'>back...</button>
				</td>
				<td>
					<button class='' type='submit' form='orderForm'>Submit</button>
				</td>
			</tr>
		</table>
	<div>
	<div id='message' class='glSmallBrRadius glMediumBgColor glAltMediumBgColor' *ngIf='displayMessage'>
		<p>Your order: {{orderNumber}} has been sent on your e-mail {{email}}</p>
		<button id='closeButton' class='glRightFloat' (click)='displayMessage=false'>close</button>
	</div>
</div>