#sliderComponent {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	position: relative;	
	overflow: hidden;
}
.slideObject {
	padding: 0;
	margin: 0;
	position: absolute;
	user-select: none;	
}
.slideImage {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	user-select: none;
	border-radius: 5%;
	padding: 2%;
	background-color: rgb( 230, 230, 230 );
	border: 2px solid grey;
}
.slideImage:hover {
	border: 2px solid black;
}	
.discountDiv {
	top: 5%;
	left: 5%;
	position: absolute;
	color: black;
	font-weight: bold;
	text-shadow: 1px 1px #FEF9E7;
	background-color: cyan;
	border-radius: 10%;
}
.priceDiv {
	top: 80%;
	left: 5%;
	position: absolute;
	color: black;
	font-weight: bold;
	text-shadow: 1px 1px #FEF9E7;
	background-color: yellow;
	border-radius: 10%;
}
.slideButton {
	padding: 0;
	margin: 0;
	position: absolute;
	user-select: none;
	text-align: center;
}
button {
	width: 1cm;
	height: 1cm;
	z-index: 70;
	border: none;
	position: relative;
	background-color: transparent;
}
button:focus { outline: none; }

#yPlus {	
	top: 50%;
	left: 0%;
	transform: rotate(-90deg);
}
#yMinus {
	top: 50%;
	right: 0;
	transform: rotate(90deg);
}
#xPlus {	
	top: 0;
	left: 50%;	
}
#xMinus {
	bottom: 0;
	left: 50%;
	transform: rotate(180deg);
}
button img {
	width: 100%;
	height: 100%;
}
