#orderFormDiv {
	width: 100%;	
	padding: 0;
	margin: 0;
	border: 1px solid black;
	font-size: 100%;
}
#personal {
	width: 49%;
	height: 100%;
	display: inline-block;
}
#details {
	width: 49%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
}
@media only screen and (max-width: 15cm) {
	#personal {
		width: 100%;
	}
	#details {
		width: 100%;
	}
}
.font {
	font-size: 130%;
}	
.field {	
	padding: 2px;
}
.field span {
	vertical-align: top;
	width: 49%;
	display: inline-block;
}
.field input {
	width: 49%;
}
.field textarea{
	width: 49%;
}
#carriers {
	border: 1px solid black;
}
#buttons button {
	font-size: 100%;
}
#commentInput {
	height: 3cm;
	overflow-y: scroll;
}
#message {
	top: 20%;
	left: 20%;
	position: fixed;
	border: 1px solid grey;
	color: black;
	padding: 10px;
}
#closeButton {
	margin-top: 10px;
}
sup {
	color: red;
}
:host {
	color: black;
}
:host table {
	margin: 1%;
	width: 98%;
}	
:host td {
	padding: 3px;
	font-weight: bold;
}
:host td:last-child {	
	text-align: right;
}